/target
/audio.wav
/libvosk.so
/*.zip
/arm64-v8a
/armeabi-v7a
/x86
/x86_64
mymemory.db

# Models
models/*.zip
models/**/*.mdl
models/**/*.fst
models/**/*.ie
models/**/*.dubm
models/**/*.stats
/vosk-model-*
